{
    "presets":[
        "env",
        "react"
    ],
    "plugins":[
        "transform-class-properties",
        "transform-object-rest-spread" //this adds support for object spread operator
    ]
}